html {
  line-height: 1.7;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 14px;
}

body {
  color: #444;
  background: #fdfdfd;
  margin: auto;
  max-width: 36em;
  padding: 1em;
  hyphens: auto;
  word-wrap: break-work;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

#headshot {
  height: 150px;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }
  
  #headshot {
    height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  
  body {
    padding: 50px;
  }
  
  #headshot {
    height: 250px;
  }
}

@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 14pt;
  }
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

a {
  color: #08f;
  text-decoration: none;
}

a:visited {
  color: #08f;
}

a:hover {
  color: #2af;
}

a:active {
  color: #fa0;
}

a:focus {
  outline: thin dotted;
}

h1, h2, h3 {
  color: #111;
}

.heading-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-color-scheme: dark) { /* default colours in comments */
  body {
	color: #eee; /* 444 */
	background: #333; /* fefefe */
  }
  
  a {
    color: #2af; /* 08f */
  }
  
  a:visited {
    color: #2af; /* 08f */
  }
  
  a:hover {
    color: #4cf; /* 2af */
  }
  
  a:active {
    color: #fc9; /* fa0 */
  }
  
  h1, h2, h3 {
    color: #ccc; /* 111 */
  }
}