/* mobile-first redesign */

/* taken from Pandoc's template */
html {
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 20px;
  color: #1a1a1a;
  background-color: #fdfdfd;
}
body {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
@media (max-width: 600px) {
  body {
  font-size: 0.9em;
  padding: 1em;
  }
}
p {
  margin: 1em 0;
}
a, a:visited {
  color: #1a1a1a;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}
h5, h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
header {
  margin-bottom: 4em;
  text-align: center;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}

/* mine */
details > summary {
  cursor: pointer;
  list-style: none;
}

details > ::marker {
  display: none;
}

details {
  border: solid #1a1a1a 2px;
  margin-top: 1ex;
  margin-bottom: 1ex;
  padding-left: 1em;
  padding-right: 1em;
}

.details {
  display: none;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 80%;
  }
  
  details {
    padding-left: 0;
    padding-right: 0;
    margin-left: 1ex;
    margin-right: 1ex;
  }
  
  details .item-description {
    display: none;
  }
  
  figure {
    margin: 2em;
  }
  
  .container-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    overflow: hidden;
    height: 80vh;
  }
  
  .details {
    display: inline;
    flex: 1;
    background: #EED;
    border: solid #1a1a1a 2px;
    margin: 1ex;
    padding: 1em;
    overflow-y: scroll;
  }
  
  .container-thumbnails {
    flex: 2;
    margin-left: 1ex;
    margin-right: 1ex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-content: start;
    overflow-y: scroll;
  }

  .thumbnail {
  }
}