.thumbnail {
  width: 200px;
}

.container-content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.details {
  flex: 2;
  width: 30%;
  background: #EED;
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}

details > ::marker {
  display: none;
}

details > summary {
  list-style: none;
}

.container-thumbnails {
  flex: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.item-thumbnail {
  background: #DDD;
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
  flex: 1 1 0;
}
/*
.item-description {
  display: none;
}
*/
@media only screen and (max-width: 1080px) {
  .details {
    flex: 2;
  }
  .container-thumbnails {
    flex: 5;
  }
}

@media only screen and (max-width: 640px) {
  .container-thumbnails {
    flex-flow: column nowrap;
  }
  
  .visible-description {
    display: inline;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
  }
  
  .details {
	display: none;
  }
}